@tailwind base;
@tailwind components;
@tailwind utilities;

/* Center the content vertically and horizontally */
html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  padding-bottom: 30px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Set the default width of the input fields */
/* input[type="text"] {
  width: 320px;
} */

/* Add some margin to the input fields */
/* input[type="text"] + button {
  margin-left: 10px;
} */


/* Style the "Next" and "Submit" buttons */
button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  margin-left: 0px;
  /* center it */
  /* margin-left: auto;
  margin-right: auto; */
}
button:focus {
  outline: none;
}
button:hover {
  filter: brightness(90%);
}
button:active {
  filter: brightness(80%);
}

/* Style the div containing the output */
.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  /* text-align: center; */
  margin-top: 30px;
  border-radius: 10px;
  overflow-y: scroll;
}
.main-card{
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 30px;
  /* max-width: 1600px; */
}

.top-left{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  /* bold */
  font-weight: 700;
  /* font size */
  font-size: 30px;
  color: #fff;
}

textarea {
  width: 100%;
  padding: 12px 12px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;

}
#input5 {
  resize: none;
  overflow: hidden;
  height: 100px;
  resize: vertical;
  box-sizing: border-box;
  overflow: auto;
  white-space: wrap;
}
textarea:focus {
  outline: none;
  border: 2px solid #4caf50;
}
a, u {
  text-decoration: none;
  color: #ccc;
}
.bottom-middle{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  /* bold */
  font-weight: 700;
  /* font size */
  font-size: 14px;
  color: #fff;
}
.title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  /* center */
  text-align: center;

}
.title-explained{
  font-size: 16px;
  margin-bottom: 20px;
  /* center */
  text-align: center;
  

}
/* i need to change one of the textbox sizes */
